################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/apollo11/FileContentIndex/85016fd7-c9a3-452b-b955-0245ed79714c.vsidx
/.vs/apollo11/v17/ipch/AutoPCH/cb187d7ddc50d0b1/ANGLE.ipch
/.vs/apollo11/v17/ipch/AutoPCH/d22fcceb2eb4abf9/MAIN.ipch
/.vs/apollo11/v17/ipch/AutoPCH/ff501740d677b968/ANGLE.ipch
